#card-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card-container img{
    width: 24%;
    margin-bottom: 20px;
}

@media (max-width: 575.98px) {
    #card-container .card{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    #card-container .card{
        width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #card-container .card{
        width: 33%;
    }
}

nav{
    background-color: black;
}

.nav-link{
    color: white;
    padding-left: 3rem;
    font-size: 1.15rem;
}
.nav-link:hover{
    color: deepskyblue;
}

.mynav{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand{
    font-size: 1.5rem;
    color: deepskyblue;
    transition: all .3s;
}

.navbar-brand:hover{
    color: white;
}